@import "bootstrap";

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 34px;
    font-weight: 700;
    margin: 20px 0 !important;
    color: #007ca0;
}

.header {
    background-color: #1e1f20;
    position: relative;

    .logo {
        width: 140px;
        margin: 20px 20px 20px 5%;
    }

    nav {
    
        display: flex;
        align-items: center;
        justify-content: center;
        top: calc(50% - 20px);
        left: calc(50% - 190px);

        @media (min-width: 768px) {
            position: absolute;
        }
    
        .nav-link {
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;

            &:hover {
                margin-top: -2px;
                border-bottom: 2px solid #00b9f0;
            }
        }
    }
}

.main {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    position: relative;
}

.btn.btn-primary {
    background-color: #0c3f6e;
    border-color: #0c3f6e;
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
        min-width: 150px;
    }
}

.pagination {
    display: block;
    text-align: center;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        a {
            color: #007bff !important;
            display: inline-block;
            padding: 10px;
            margin: 10px;
            border: 1px solid grey;
            border-radius: 5px;
            min-width: 50px;
            text-align: center;

            @media (min-width: 768px) {
                display: block;
            }
        }
    
        &.disabled a {
            color: grey !important;
            cursor: default;
        }
        
        &.active a {
            cursor: default;
            background-color: #0c3f6e;
            color: #fff !important;
        }

        &.previous,
        &.next {
            min-width: 105px;
        }
    }
}

input#searchfor {
    height: 38px;
    padding: 5px 10px;

    @media (min-width: 768px) {
        height: 60px;
    }
}

.searchBlock {
    
    align-items: center;
    justify-content: center;

    input[type="text"] {
        margin-bottom: 20px;
        padding: 5px 10px;
    }

    input[type="text"],
    .btn {
        width: 100%;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;

        input[type="text"] {
            width: calc(100% - 96px);
            max-width: 400px;
            margin-bottom: 0px;
        }
    
        .btn {
            margin-left: 20px;
            width: auto;
            line-height: 46px;
        }

        input[type="text"],
        .btn {
            height: 60px;
        }
    }
}

input#person_file {
    width: 300px;
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 0 20px;
    background: #007ca0;
    border-radius: 10px;
    line-height: 40px;
    border: 2px solid #dcdee3;
}

label.file-upload {
    position: relative;

    span {
        display: block;
        position: absolute;
        top: 2px;
        left: 20px;
        font-weight: bold;
        font-size: 16px;
        background: #0c3f6e;
        color: #fff;
        line-height: 46px;
        width: 100px;
        text-align: center;
        cursor: pointer;
    }
}

.table {
    th {
        cursor: pointer;
        color: #007bff;
    }
    
    th, 
    td {
        vertical-align: middle !important;
    }
    
    th {
        min-width: 105px;
    }
    
    th:first-child,
    th:nth-child(2),
    th:nth-child(7),
    th:nth-child(8) {
        min-width: 125px;
    }
}

td p {
    margin-bottom: 0;
    margin-right: 10px;
    padding: 3px 5px;
    border: 1px solid #0c3f6e;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;

    &:first-child {
        margin-top: 0;
    }
    
    &:last-child {
        margin-right: 0;
    }
}

em.current {
    background-color: #0c3f6e;
    color: #fff;
}

.destroy-section {
    
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;

    @media (min-width: 768px) {
        position: absolute;
        right: 5%;
        top: 0;
    }

    h4 {
        color: #007ca0;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .btn-warning {
        line-height: 18px;
    }

    p {
        text-align: center;
    }
}

p.sample-file {
    margin-top: 10px;
    margin-bottom: 10px;
}

.noperson {
    text-align: center;
    padding: 40px 0;
    color: #f69446;
}